{% extends "base_generic.html" %} 
 
{% block content %} 
    {% if validlink %} <!--передається сюди як змінна через views і здійснюється перевірка чи дійсне посилання-->
        <p>Please enter (and confirm) your new password.</p> 
        <form action="" method="post"> 
        {% csrf_token %} 
            <table> 
                <tr> 
                    <td>{{ form.new_password1.errors }} <!--form - вбудованан змінна для скидання пароля-->
                        <label for="id_new_password1">New password:</label></td> 
                    <td>{{ form.new_password1 }}</td> <!--поля для введення нових паролів new_password2 - повторне введення пароля. 
                    Після надсилання вже у коді самої форми у view.py здійснюється перевірка чи все коректно було введено-->
                </tr> 
                <tr> 
                    <td>{{ form.new_password2.errors }} 
                        <label for="id_new_password2">Confirm password:</label></td> 
                    <td>{{ form.new_password2 }}</td> 
                </tr> 
                <tr> 
                    <td></td> 
                    <td><input type="submit" value="Change my password"></td> 
                </tr> 
            </table> 
        </form> 
    {% else %} 
<h1>Password reset failed</h1> 
<p>The password reset link was invalid, possibly because it has already been 
used. Please request a new password reset.</p> 
{% endif %} 
{% endblock %} 